.bg-wa-green {
    background-color: #00a884;
}

.bg-wa-grey {
    background-color: #e0e0dd;
}

.bg-chat-grey {
    background-color: #eaeaea;
}

.bg-not-cyan {
    background-color: #8edafc;
}

.text-wa-grey {
    color: #b1b1b1;
}

#left-chat {
    flex-basis: calc(100% / 3);
}

#right-chat {
    flex-basis: calc(100% / 3 * 2);
}

#account-info {
    height: 8%;
}

#actions i:hover {
    color: black;
}

#notifications {
    height: 8%;
}

#notifications-bell i {
    color: #8edafc;
}

#notifications-text span {
    font-size: 14px;
}

#search-bar {
    height: 5%;
}

#search-icon {
    width: 15%;
}

#search {
    width: 85%;
}

#chats {
    height: 79%;
}

#chats li {
    height: 11%;
}

.date span {
    font-size: 13px;
}

.chat-item:hover {
    background-color: rgba(179, 179, 179, 0.63);
}
